header, footer{
    background-color: #1F2937;
    color: white;
    margin: 0px;
    /* padding: 0px 300px; */
}
body{
    margin: 0px;
    /* padding: 100px; */
}
/* .sec{
    padding-left:300px ;
    padding-right:300px ;
} */
a{
    color: white;
    list-style-type: none;
    text-decoration: none;
}
.main{
    font-size: 48px;
    color: #F9FAF8;
    font-style: bold;
}
.para{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    width: 1300px;
}
figcaption{
    font-size: 18px;
    color: #1F2937;
}
.header2{
    font-size: 36px;
    color: #1F2937;
}
.quote{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    margin:50px 20px ;
    padding: 30px;
}
.head{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 20px;
    margin: 20px;
}
.awesome{
    display: flex;

}
.angry{
    display: flex;
    flex-direction: column;
}
#logo{
    display: flex;
    justify-content: flex-start;
}
#first{
    width: 100px;
    height: auto;
    flex: 1;
}
#btn{
    width: 100px;
}
.images{
    display: flex;
    gap: 40px;
    justify-content: space-around;
}
img{
    flex: 1;
    object-fit: cover;
    margin: 5;
    justify-content: space-around;
    width: 400px;
    height: auto;
}
.one, .two, .three, .four{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sign{
    background-color: rgb(5, 112, 199);
    color: #E5E7EB;
    margin: 10px 100px;
}
.almost{
    display: flex;
    gap: 30px;
}
.foot{
    padding: 30px;
    display: flex;
    justify-content: center;
}
button{
    font-size: 18px;
    background-color: rgb(10, 133, 170);
    border-radius: 5px;
    margin: 0px;
    width: 100px;
    border: 1px ;
    
}
